<!--<div ng-cloak layout="column">-->
    <md-content>
        <md-table-container layout-padding>
            <table md-table ng-model="selected">
                <thead md-head md-order="ordering">
                <tr>
                    <th md-column>Destination</th>
                    <th md-column md-order-by="date">Departure</th>
                    <th md-column md-order-by="cost">Fee</th>
                </tr>
                </thead>
                <tbody>
                <tr md-row ng-click="$ctrl.clicked(entry)" md-auto-select ng-repeat="entry in entries | orderBy: ordering">
                    <td md-cell>{{entry.city}}</td>
                    <td md-cell>{{entry.date.toDateString()}}</td>
                    <td md-cell>{{entry.cost}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
<!--</div>-->


<!--<table st-table="rowCollection" class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>first name</th>-->
        <!--<th>last name</th>-->
        <!--<th>birth date</th>-->
        <!--<th>balance</th>-->
        <!--<th>email</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="row in rowCollection">-->
        <!--<td>name</td>-->
        <!--<td>last</td>-->
        <!--<td>birthday</td>-->
        <!--<td>balance</td>-->
        <!--<td>blah@blah</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<!--<div layout="row">-->
    <!--<div flex>Destination</div>-->
    <!--<div flex>Departure date</div>-->
    <!--<div flex>Cost of transportation</div>-->
<!--</div>-->
<!--<div layout="row"-->
     <!--ng-repeat="entry in entries">-->
    <!--<div flex>-->
        <!--{{entry.city}}-->
    <!--</div>-->
    <!--<div flex>-->
        <!--{{entry.date}}-->
    <!--</div>-->
    <!--<div flex>-->
        <!--{{entry.cost}}-->
    <!--</div>-->
<!--</div>-->
<!--<md-content>-->
<!--<div style="height:100px;">-->
    <!--<md-list>-->
        <!--<md-list-item ng-repeat="entry in entries" ng-click="null"-->
        <!--class="md-2-line">-->
            <!--<div class="md-list-item-text">-->
            <!--<div flex>-->
                <!--{{entry.city}}-->
            <!--</div>-->
            <!--<div flex>-->
            <!--{{entry.date}}-->
            <!--</div>-->
            <!--<div flex>-->
            <!--{{entry.cost}}-->
            <!--</div>-->
            <!--</div>-->
        <!--</md-list-item>-->
    <!--</md-list>-->
<!--</div>-->
<!--</md-content>-->


    <!--md-cols="12"-->
    <!--md-row-height="8px"-->
    <!--ng-repeat="entry in entries">-->
    <!--<md-grid-tile-->
        <!--md-rowspan="2" md-colspan="12">-->
        <!--<p>{{entry.email}}</p>-->
    <!--</md-grid-tile>-->
<!--</md-grid-list>-->