<div layout="column" ng-cloak>


    <md-content layout-padding>
        <div>
            <form name="searchForm" ng-submit="$ctrl.submit()">
                <label>Destination:</label>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="$ctrl.address">
                </md-input-container>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="$ctrl.city">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <input ng-model="$ctrl.state">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="$ctrl.postalCode" placeholder="12345"
                               required ng-pattern="/^[0-9]{5}$/">

                        <div ng-messages="userForm.postalCode.$error" role="alert">
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                code.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <label>Departure time</label>
                <div layout="row" layout-align="space-around start">
                    <md-input-container flex>
                        <label>From</label>
                        <input ng-model="$ctrl.departingFrom" placeholder="mm/dd/yyyy"/>
                    </md-input-container>
                    <md-input-container flex>
                        <label>To</label>
                        <input ng-model="$ctrl.departingTo" placeholder="mm/dd/yyyy"/>
                    </md-input-container>
                </div>
                <label>Details</label>
                <div layout="row" layout-align="space-between start">
                    <md-input-container>
                        <label>max Fee</label>
                        <input ng-model="$ctrl.price">
                    </md-input-container>
                    <md-button type="submit">Submit</md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>
